.wholeBlock {
    background-image: linear-gradient(#000428, #004e92);
    color: white;
}
.header {
    background-image: linear-gradient(#dc2430, #000428);
    padding: 32px;
}
/*(#7b4397, #dc2430);*/

.nav {
    display: flex;
    gap: 0.5em;
}

.nav a {
    display: inline-block;
    margin-right: 16px;
}

.content {
    padding: 64px 32px;
}

.footer {
    padding: 32px;
}

.footer ul {
    margin-top: 16px;
    list-style-type: none;
}
